<officeproject-header></officeproject-header>


<form [formGroup]="form">
    
    <o-input formControlName="username"
    [isRequired]="true"
    label="Username"
    errorMsg="User name is required"
    ></o-input>
    
    <o-input formControlName="password"
    [isRequired]="true"
    pattern="[a-zA-Z ]{3}"
    label="Password"
    ></o-input>

    <button (click)="submit()">SUBMIT</button>
</form>
<!-- <o-slide-show [slides]="names" [slidesTemplate]="myTemplate"></o-slide-show> -->

<!-- <ng-template #myTemplate let-slide let-nav="navigation">

    My name is: {{slide}}
    <button (click)="nav.next()">NEXT</button>
    <button (click)="nav.prev()">PREV</button>
</ng-template> -->

<router-outlet></router-outlet>
